@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
   --dark-purple: #633BBC;
   --light-purple: #8257E5;
   --dark-gray: #323238;
   --middle-gray: #7C7C8A;
   --gray: #8D8D99;
   --white: #fff;
   --light-gray: #E1E1E6;
   --green: #1D8841;
  }
}

body {
  background-color: var(--white);
}
